[Desktop Entry]
Encoding=UTF-8
Name=HOTCHAIN
Comment=HOTCHAIN P2P Cryptocurrency
Comment[fr]=HOTCHAIN, monnaie virtuelle cryptographique pair à pair
Comment[tr]=HOTCHAIN, eşten eşe kriptografik sanal para birimi
Exec=hotchain-qt %u
Terminal=false
Type=Application
Icon=hotchain128
MimeType=x-scheme-handler/hotchain;
Categories=Office;Finance;
