[Desktop Entry]
Encoding=UTF-8
Name=Hotchain
Comment=Hotchain P2P Cryptocurrency
Comment[fr]=Hotchain, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Hotchain, eşten eşe kriptografik sanal para birimi
Exec=hotchain-qt %u
Terminal=false
Type=Application
Icon=hotchain128
MimeType=x-scheme-handler/hotchain;
Categories=Office;Finance;
