# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=Hotchain-Qt Regtest
Icon=${SNAP}/qt-regtest.ico
MimeType=x-scheme-handler/hotchain;
Exec=hotchain.qt-regtest %u
Terminal=false
Categories=Office;Finance;
Comment=Hotchain Regression Test (by HOTCHAIN-Project)
Keywords=internet;hotchain;regtest;qt;crypto;currency;snap;snapcraft;HOTCHAIN-Project;project;daemon;cli;qt;zerocoin;zhotx
