# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=Hotchain-Qt Testnet
Icon=${SNAP}/qt-testnet.ico
MimeType=x-scheme-handler/hotchain;
Exec=hotchain.qt-testnet --testnet %u
Terminal=false
Categories=Office;Finance;
Comment=Hotchain Core Regression Test (by Hotchain-Project)
Keywords=internet;hotchain;testnet;qt;crypto;currency;snap;snapcraft;HOTCHAIN-Project;daemon;cli;qt;zerocoin;zhotxx
