# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Type=Application
Version=5.2.00
Encoding=UTF-8
Name=Hotchain-Qt
Icon=${SNAP}/qt.png
MimeType=x-scheme-handler/hotchain;
Exec=hotchain.qt %u
Terminal=false
Categories=Office;Finance;
Comment=Hotchain (by HOTCHAIN-Project)
Keywords=internet;hotchain;main;qt;crypto;currency;snap;snapcraft;project;zerocoin;zhotx;southasia
