[Unit]
Description=Hotchain's distributed currency daemon
After=network.target

[Service]
User=hotchain
Group=hotchain

Type=forking
PIDFile=/var/lib/hotchaind/hotchaind.pid

ExecStart=/usr/bin/hotchaind -daemon -pid=/var/lib/hotchaind/hotchaind.pid \
          -conf=/etc/hotchain/hotchain.conf -datadir=/var/lib/hotchaind

ExecStop=-/usr/bin/hotchain-cli -conf=/etc/hotchain/hotchain.conf \
         -datadir=/var/lib/hotchaind stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
